/node_modules
/public/hot
public/post
public/company/*
public/community/*
public/company/images
public/company/documents
composer.lock
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
